<nav class="navbar-recloset">
  <div class="d-flex">
    <%= link_to "ReCloset", root_path, class: "navbar-logo"  %>
    <div class="navbar-options d-flex align-items-center justify-content-between">
      <a class="nav-link dropdown-toggle ms-5" href="#" id="navbarDropdownTest" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        CATEGORIES
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownTest">
        <% Category.all.each do |category| %>
          <%= link_to category.name, items_path(category: category.name), class:"dropdown-item" %>
        <% end %>
      </div>
    </div>
  </div>

  <form class="d-flex input-group-sm">
    <input
      type="search"
      class="form-control rounded"
      placeholder="Search for items"
      aria-label="Search"
      aria-describedby="search-addon"
    />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </form>

  <div class="d-flex align-items-center p-2 ">
    <% if user_signed_in? %>
    <i class="fas fa-bell text-white"></i>
      <span class="badge rounded-pill badge-notification bg-secondary">1</span>
      <%= link_to current_user.username, "#", class:"p-2"%>
      <div class="nav-item dropdown p-2">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "My profile", "#", class: "dropdown-item" %>
          <%= link_to "Orders", "#", class: "dropdown-item" %>
          <%= link_to "Settings", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } ,class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path %>
    <% end %>
  </div>
</nav>
