
<div class="main-container">
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <!-- Container 1 -->
      <div class="item-image-container">

        <%= cl_image_tag @item.cover.key, class: "item-image-large" %>

      </div>
    </div>

    <!-- Container 2 -->
    <div class="col-lg-4">
      <div class="selected_item_container">
        <h2><%= @item.name %></h2>
        <h3>€<%= @item.price %></h3>
          <p>
          <%= @item.description %>
            <%# BRAND: Gucci <br>
            COLOUR: Ivory <br>
            SIZE: M <br> %>
           <%# DESCRIPTION: Warm, new, worn few times, must-have! %>
          </p>

        <!-- Content goes here -->
        <div class="buttons">
          <a href="" class="btn-main">Buy</a>
          <a href="" class="btn-secondary">Add to Favourites <i class="fa-solid fa-heart fa"></i> </a>
        </div>
      </div>
      <div class="seller_profile_container">




        <img src="<%= image_path('https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1556048247/ymehhwjerbyrghdubep5.jpg') %>" alt="avatar" class="profile-avatar">
        <h2><%= "Sandra" %></h2>

        <i class="fas fa-map-pin"></i>
        <p>Barcelona</p>

        <!-- Content goes here -->
      </div>

    </div>
  </div>
  </div>
</div>




<!-- Container 4 -->

  <h2>More clothes from Sandra:</h2>
  <section class="cards container-fluid">
    <div class= "container-fluid">
      <div class="row gx-5 gy-5">
        <% Item.all.each do |item|%>
          <div class="col-lg-3">
            <%= render "items/item-card", item: item %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<!-- Container 5 -->
